{% if page.download and page.download.link and page.download.link != "" %}
  {% assign link = page.download.link | remove_first: "/" %}
  <div class="mt-5 has-text-centered">
    <a href="{% asset {{link}} @path %}" target="_blank" class="button is-primary"> {{ page.download.button_title }}</a>
  </div>
{% endif %}