<footer class="footer">
    <div class="container">
      <div class="columns menu-columns is-multiline is-centered">
        {% assign page_paths = site.footer_pages %}
        {% for path in page_paths %}
        {% assign entry = site.pages | where: "path", path | first %}
      
        <div class="column is-one-quarter">
          <ul class="menu-columns--main-entry">
            <li>
              <a class="{% if page.title contains entry.title %}is-active{% endif %}" href="{{ entry.url | relative_url }}">{{
                entry.title| escape }}</a>
              <ul>
                {% assign subfolder_pages = site.pages | where_exp: "item" , "item.category == entry.category" | sort:
                "order" %}
                {% for item in subfolder_pages %}
                {% unless item.in_homepage %}
                <li>
                  <a class="{% if page.title contains item.title %}is-active{% endif %}" href="{{ item.url | relative_url }}">{{
                    item.title| escape }}</a>
                </li>
                {% endunless %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <div class="footer-logo">
            {% asset logo-kepos.svg alt={{site.title}} %}
          </div>
          <div>{{ site.data.config.baseline | escape }}</div>
        </div>
        <div class="column is-one-third has-text-centered">
          <p>
            Kèpos
            <br>
            {{ site.data.config.address | escape }}
            <br>
            {{ site.data.config.city | escape }}
            {% if site.data.config.email %}
            <br>
            <a href="mailto:{{ site.data.config.email }}">{{ site.data.config.email }}</a>
            {% endif %}
            {% if site.data.config.telephone %}
            <br><a href="tel:{{ site.data.config.telephone }}">{{ site.data.config.telephone }}</a>
            {% endif %}
          </p>
        </div>
        <div class="column is-one-third has-text-right">
          <ul class="">
            {% assign entry = site.pages | where: "category", 'contact' | first %}
            <li>
              <a class="{% if page.title contains entry.title %}is-active{% endif %}" href="{{ entry.url | relative_url }}">{{
                entry.title| escape }}</a>
            </li>
            {% assign entry = site.pages | where: "category", 'partenaires' | first %}
            {% unless entry.draft %}
            <li>
              <a class="{% if page.title contains entry.title %}is-active{% endif %}" href="{{ entry.url | relative_url }}">{{
                entry.title| escape }}</a>
            </li>
            {% endunless %}
            {% assign entry = site.pages | where: "category", 'soutenir' | first %}
            {% unless entry.draft %}
            <li>
              <a class="{% if page.title contains entry.title %}is-active{% endif %}" href="{{ entry.url | relative_url }}">{{
                entry.title| escape }}</a>
            </li>
            {% endunless %}
            <li>
              <a class="" href="https://transition-ecologique.org/">Notre blog</a>
            </li>
            {% assign entry = site.pages | where: "category", 'mentions' | first %}
            <li>
              <a class="{% if page.title contains entry.title %}is-active{% endif %}" href="{{ entry.url | relative_url }}">{{
                entry.title| escape }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container has-text-centered">
      <p class="">Sauf mention contraire, les contenus de ce site sont sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Creative
          Commons BY-NC-SA</a></p>
    </div>

</footer>
