<header role="banner">
  <nav class="navbar {% if page.url == '/' %}{{ 'landing' }}{% else %}{{ '' }}{% endif %}">
    <div class="container">
      <div class="navbar-brand brand-title">
        <a class="navbar-item" href="{{ "/" | relative_url }}">
          {% asset logo-kepos.svg alt={{site.title}} %}
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          {% assign default_paths = site.pages | map: "path" %}
          {% assign page_paths = site.header_pages | default: default_paths %}
          {% for path in page_paths %}
            {% assign entry = site.pages | where: "path", path | first %}
            {% assign subfolder_pages = site.pages | where_exp: "item" , "item.path contains entry.category" | sort: "order" %}
            {% assign subfolder_pages_size = subfolder_pages | size %}

            {% if entry.title and subfolder_pages_size > 1 %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ entry.url | relative_url }}" class="navbar-link{% if page.category == entry.category %} is-active{% endif %}">
                  {{ entry.title| escape }}
                </a>
                <div class="navbar-dropdown">
                {% for item in subfolder_pages %}
                  {% if item.url != entry.url %}
                  <a href="{{ item.url | relative_url }}" class="navbar-item">
                    {{ item.title| escape }}
                  </a>
                  {% endif %}
                {% endfor %}

                </div>
              </div>
            {% elsif entry.title %}
              <a class="navbar-item {% if page.category == entry.category %}is-active{% endif %}" href="{{ entry.url | relative_url }}">
                {{ entry.title| escape }}
              </a>
            {% endif %}
          {% endfor %}
          {% assign entry = site.pages | where: "category", 'soutenir' | first %}
          {% unless entry.draft %}
          <div class="navbar-item">
            <a class="button is-primary" href="{{ "/nous-soutenir.html" | relative_url }}">
              <strong>Nous soutenir</strong>
            </a>
          </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </nav>
</header>




