{% if page.title %} {% assign raw_page_title = page.title %} {% else %} {% assign raw_page_title = site.title %} {% endif %}
{% assign page_title = raw_page_title | url_escape | escape %}

{% assign page_description = page.excerpt | default: site.description | strip_html | strip_newlines | normalize_whitespace | truncate: 160 | escape %}

{% if page.ogimage %}
  {% assign raw_page_image = page.ogimage %}
{% elsif page.image %}
  {% assign raw_page_image = assets[page.image].digest_path %}
{% else %}
  {% assign raw_page_image = assets["default-picture.png"].digest_path %}
{% endif %}
{% assign page_image = raw_page_image | absolute_url %}

<title>{{ page_title }}</title>
<meta name="description" content="{{ page_description }}">

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="fr_FR" />
<meta name="twitter:site" content="@{{site.twitter_username}}" />
<meta name="twitter:description" content="{{ page_description }}" />

{% if page.title %}
  <!-- Article specific OG data -->
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{page.date}}" />
  <meta property="article:author" content="Kèpos" />
  <meta property="article:publisher" content="Kèpos" />
  <meta property="article:section" content="{{ page.category }}" />
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{tag}}" />
  {% endfor %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@{{site.twitter_username}}" />
  <meta name="twitter:title" content="{{page_title}}" />
  <meta property="og:image" content="{{page_image}}" />
  <meta name="twitter:image" content="{{page_image}}" />
  {% if page.ogimage %}
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
  {% endif %}
{% else %}
  <!-- OG data for homepage -->
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page_title }}" />
{% endif %}