<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% asset favicon.ico %}

  {% include head-social-tags.html %}
  
  {% asset main.css %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  {% asset index.js defer %}
  <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>

  {% if jekyll.environment == 'production' and site.matomo_analytics %}
  {% include matomo-analytics.html %}
  {% endif %}
</head>
