{% assign member = include.member %}


<div class="card member-card">
  <div class="card-image">
    <figure class="image">
      {% assign picture = member.picture | remove_first: "/" %}
      {% asset {{picture}} @magick:2x magick:resize="800" magick:crop="840x600+0+0"
      magick:gravity="center" magick:compress="jpeg" alt='photo {{member.name}}' %}
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ member.name }}</p>
        <p class="subtitle is-6">{{ member.people }}</p>
      </div>
    </div>

    <div class="content">
      <p>{{ member.activity }}</p>
    </div>
  </div>
  <footer class="member-card_footer is-6">
    {% if member.location and member.location != '' %}
    <div class="member-card_footer-item">
      <span class="icon">
        <i class="fas fa-map-marker-alt"></i>
      </span>
      {{ member.location }}
    </div>
    {% endif %}
    {% if member.website and member.website != '' %}
    <div class="member-card_footer-item">
      <a href="{{ member.website }}">
        <span class="icon">
          <i class="fas fa-at"></i>
        </span>
        {{ member.website_label | remove_first: "https://" | remove_first: "http://" }}
      </a>
    </div>
    {% endif %}
  </footer>
</div>