<nav class="breadcrumb is-small" aria-label="breadcrumbs">
   <div class="container container-sm">
      <ul vocab="http://schema.org/" typeof="BreadcrumbList">
         {% for crumb in breadcrumbs %}
            {% if forloop.first and site.breadcrumbs.root.image %}
            <li property="itemListElement" typeof="ListItem">
               <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
                  <span class="icon" property="name">{% include nav-breadcrumb-icon.svg %}</span>
                  <meta property="position" content="{{ crumb.position }}" />
               </a>
            </li>
            {% continue %}
            {% endif %}
            {% if forloop.last %}
            <li class="is-active" property="itemListElement" typeof="ListItem">
               <a property="item" typeof="WebPage" href="#" aria-current="page">
                  <span property="name">{{ crumb.title }}</span>
                  <meta property="position" content="{{ crumb.position }}" />
               </a>
            </li>
            {% continue %} {% endif %}
            <li class="" property="itemListElement" typeof="ListItem">
               <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
                  <span property="name">{{ crumb.title }}</span>
                  <meta property="position" content="{{ crumb.position }}" />
               </a>
            </li>
         {% endfor %}
      </ul>
   </div>
</nav>