---
layout: default
---

 <section class="hero is-home-pictured is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{site.data.config.baseline}}</h1>
      <p class="subtitle">
        {{ site.data.config.homepage_sentence }}
      </p>
      <a href="{{ '/kepos.html' | relative_url }}" class="button is-primary">En savoir plus</a>
    </div>
  </div>
  {% asset "Logo-QUALIOPI.jpg" alt="Certificat Qualiopi pour l'activité de formation" class="logo-qualiopi" %}
</section>

<section class="section ">
  <div class="container container-sm has-text-centered">

    <h1 class="title main-title is-2">
      <span class="title-first">{{ page.title-first | escape }}</span>
      <span class="title-last">{{ page.title-last | escape }}</span>
    </h1>

    <div class="content page-content is-medium">
      {{ content }}
    </div>

  </div>
</section>

<section class="section">
  <div class="container container-sm">
    {% assign homepage_pages = site.pages | where: "in_homepage" , "true" | sort: "order" %}
    <div class="columns is-centered is-multiline">
      {% for item in homepage_pages %}
        {% include category-link.html item=item %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="has-background-primary has-text-centered">
  <div class="container container-sm">
    <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/5qIv/ygq" width="100%"></iframe>
  </div>
</section>

<section id="last-wp-articles-section" class="section not-displayed">
  <div class="container container-sm">

    <h2 class="title is-3">Derniers articles</h2>
      <div class="content is-medium">

        <p>Retrouvez ici les derniers articles publiés sur <a href="https://transition-ecologique.org/">transition-ecologique.org</a>, le blog de Kèpos.</p>
      </div>

    <div id="last-wp-articles">
    </div>

  </div>
</section>

