---
layout: default
---
<article class="section">
  {% include nav-breadcrumbs.html %}
  <div class="container container-sm">

    <h1 class="title main-title is-2">
      <span class="title-first">{{ page.title-first | escape }}</span>
      <span class="title-last">{{ page.title-last | escape }}</span>
    </h1>

    <div class="content is-medium">
      {{ content }}
    </div>

    {% if page.category %}
      {% include category-links.html category=page.category %}
    {% endif %}

  </div>
</article>
